<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="meta">
            <i class="fa-solid fa-circle-user"></i> {{user.username}} on {{format_date created_at}}
        </div>
        <div class="comment-text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>