<div class="col-12">
    <div class="card-columns">

        {{#each posts as |post|}}
        <div class="card">
            {{> post-info post}}
        </div>
        {{/each}}
        
    </div>
</div>