<div class="col-3">
    <section id="sidebar">

        <h4>Travel to the stars, Read!</h4>
        <ol>
            {{#each posts as |post|}}
            <li>
                <a href="/dashboard/post/{{post.id}}" class="sidebar-link">{{post.title}}</a>
            </li>
            {{/each}}
        </ol>

    </section>
</div>
<div class="col-9">
    <ol>
        {{#each posts as |post|}}
        <li class="list-group-item">
            {{> post-info post}}
        </li>
        {{/each}}
    </ol>
</div>