<div class="col-3">
    <section id="sidebar">

        <p class="text-center"><a href="/dashboard" class="nav-link"><i class="fa-solid fa-arrow-left-long"></i> Back to Dashboard</a></p>

    </section>

</div>
<div class="col-9">

    {{> post-info post}}

    {{#if loggedIn}}
    <form class="comment-form">
        <div>
            <textarea name="comment-body" placeholder="Add a comment..."></textarea>
        </div>
        <div>
            <button type="submit"><i class="fa-solid fa-paper-plane"></i> Comment</button>
        </div>
    </form>
    {{/if}}

    <h2 class="comment">
        {{post.comments.length}} {{format_plural "comment" post.comments.length}}
    </h2>

    {{> comments post.comments}}

</div>

<!-- modal setup -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}